@media screen and (max-width: 639px) {
    .bottom-list {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .file-item {
        background: #fff;
        border-top: 1px solid #f0f0f0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 50px;
        color: #000;
        border-bottom: solid 1px #f5f5f5;
        font-size: 1.4rem;
    }

    .file-item-name {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        word-break: break-all;
    }

    .file-item-time {
        display: flex;
        font-size: 10px;
        color: #939393;
    }

    .file-item-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 1.2rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .file-item-icon {
        align-items: center;
        height: 20px;
        width: 40px;
        display: flex;
        margin-left: 10px;
        background-size: 100% 100%;
    }

    .path-text {
        padding: 42px 0 0 26px;
    }

    .icard-header h4 {
        font-size: 16px;
        float: left;
        width: 100%;
        margin: 0;
        padding: 7px 26px;
        border-bottom: 1px solid rgba(77, 82, 89, 0.05);
    }

    .icard-body {
        padding: 5px 24px;
    }

    .file-icon-file {
        background: url('/images/wendang.png') no-repeat;
    }

    .file-icon-folder {
        background: url('/images/wenjianjia_20.png') no-repeat;
    }

}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media screen and (min-width: 640px) and (max-width: 1000px) {
    .bottom-list {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .file-item {
        background: #fff;
        border-top: 1px solid #f0f0f0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 50px;
        color: #000;
        border-bottom: solid 1px #f5f5f5;
        font-size: 1.4rem;
    }

    .file-item-name {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        word-break: break-all;
    }

    .file-item-time {
        display: flex;
        font-size: 10px;
        color: #939393;
    }

    .file-item-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 1.2rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .file-item-icon {
        align-items: center;
        height: 20px;
        width: 40px;
        display: flex;
        margin-left: 10px;
        background-size: 100% 100%;
    }

    .path-text {
        padding: 42px 0 0 26px;
    }

    .icard-header h4 {
        font-size: 16px;
        float: left;
        width: 100%;
        margin: 0;
        padding: 7px 26px;
        border-bottom: 1px solid rgba(77, 82, 89, 0.05);
    }

    .icard-body {
        padding: 5px 24px;
    }

    .file-icon-file {
        background: url('/images/wendang.png') no-repeat;
    }

    .file-icon-folder {
        background: url('/images/wenjianjia_20.png') no-repeat;
    }

}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media screen and (min-width: 1000px) {
    .bottom-list {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .file-item {
        background: #fff;
        border-top: 1px solid #f0f0f0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 50px;
        width: 100%;
        color: #000;
        border-bottom: solid 1px #f5f5f5;
        font-size: 1.4rem;
    }

    .file-item-name {
        flex: 2;
        color: #4d5259;
        font-size: 18px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        word-break: break-all;
    }

    .file-item-time {
        display: flex;
        font-size: 16px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex: 2;
        overflow: hidden;
    }

    .file-item-info {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex: 4;
        overflow: hidden;
    }

    .file-item-icon {
        align-items: center;
        height: 20px;
        width: 40px;
        display: flex;
        margin-left: 10px;
        background-size: 100% 100%;
    }

    .file-icon-file {
        background: url('/images/wendang.png') no-repeat;
    }

    .file-icon-folder {
        background: url('/images/wenjianjia_20.png') no-repeat;
    }

    .path-text {
        padding: 42px 0 0 26px;
    }

    .icard-header h4 {
        font-size: 16px;
        float: left;
        width: 100%;
        margin: 0;
        padding: 7px 26px;
        border-bottom: 1px solid rgba(77, 82, 89, 0.05);
    }

    .icard-body {
        padding: 5px 24px;
    }

}

.file-item:hover {
    cursor: pointer;
    background: #f5f5f5;
    color: #000;
}

.nav-item:hover {
    cursor: pointer;
    background: #f5f5f5;
    border-radius: 10px;
    color: #000;
}

.media-item:hover {
    cursor: pointer;
    background: #f5f5f5;
    border-radius: 10px;
    color: #000;
}

.cardBox {
    position: relative;
    text-align: center;
    float: left;
    margin-left: 10px;
    padding-top: 15px
}

.media-img {
    width: 150px;
    height: 150px;
    background-color: #e9e9e9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center

}

.media-img-select {
    top: 20px;
    right: 10px;
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center
}

.appBox {
    margin-top: 10px;
    width: 170px;
    height: 170px;
    background-color: #fff;
    border-radius: 15px;
    border: none;
    box-shadow: 0 12px 5px -10px rgba(0,0,0,0.1), 0 0 4px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 12px 5px -10px rgba(0,0,0,0.1), 0 0 4px 0 rgba(0,0,0,0.1);
    position: relative;
    text-align: center;
    float: left;
    margin-left: 10px;
    padding-top: 15px
}

.app-select {
    display: none;
    top: 75px;
    right: 75px;
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center
}

.app-img {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center

}
.media-content {
    padding: 10px
}